<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ExecuteSOQL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ExecuteSOQL.Properties.Settings>
            <setting name="ExecuteSOQL_SFDC_SforceService" serializeAs="String">
                <value>https://login.salesforce.com/services/Soap/u/42.0</value>
            </setting>
            <setting name="ExecuteSOQL_SFDC_TEST_SforceService" serializeAs="String">
                <value>https://test.salesforce.com/services/Soap/u/42.0</value>
            </setting>
        </ExecuteSOQL.Properties.Settings>
    </applicationSettings>
</configuration>